@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 63.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 0 0% 14.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.primary {
  @apply max-w-[190px] min-h-[56px] flex justify-between p-[20px] rounded bg-primary text-white hover:bg-green-700 active:bg-green-900;
}

.primaryArrow {
  @apply min-w-[141px] min-h-[47px] md:min-w-[190px] md:min-h-[56px] flex justify-between p-[20px] gap-[13px] rounded bg-primary text-white hover:bg-green-700 active:bg-green-900;
}

.primaryText {
  @apply bg-primary dark:bg-black text-white text-[16px] py-[14px] px-[16px] min-h-[39px] rounded-xl border-2 border-white shadow-md;
}

.secondaryText {
  @apply bg-white text-black text-[16px] py-[14px] px-[16px] min-h-[39px] rounded-xl border-2 border-[#B3B3B3] shadow-md;
}

.primaryLogin {
  @apply flex items-center gap-[12px] min-w-[151px] sm:min-w-[390px] min-h-[40px] sm:min-h-[40px] text-[8px] sm:text-[14px] bg-white dark:text-black rounded-lg shadow-lg p-[8px] hover:bg-slate-100 active:bg-slate-300;
}

.githubLogin {
  @apply flex items-center gap-[22px] sm:gap-[28px] min-w-[151px] sm:min-w-[390px] max-h-[40px] sm:max-h-[40px] text-white text-[8px] sm:text-[14px] bg-[#222222] rounded-lg shadow-lg p-[8px];
}

.active {
  @apply text-primary;
}
